<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.info.n25175_info.dao.N25175PostMapper">
  <resultMap id="BaseResultMap" type="com.info.n25175_info.entity.N25175Post">
    <id column="np_id" jdbcType="INTEGER" property="npId" />
    <result column="np_name" jdbcType="VARCHAR" property="npName" />
    <result column="np_sign" jdbcType="INTEGER" property="npSign" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    np_id, np_name, np_sign
  </sql>
  <select id="selectByExample" parameterType="com.info.n25175_info.entity.N25175PostExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from n25175_post
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from n25175_post
    where np_id = #{npId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from n25175_post
    where np_id = #{npId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.info.n25175_info.entity.N25175PostExample">
    delete from n25175_post
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.info.n25175_info.entity.N25175Post">
    insert into n25175_post (np_id, np_name, np_sign
      )
    values (#{npId,jdbcType=INTEGER}, #{npName,jdbcType=VARCHAR}, #{npSign,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.info.n25175_info.entity.N25175Post">
    insert into n25175_post
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="npId != null">
        np_id,
      </if>
      <if test="npName != null">
        np_name,
      </if>
      <if test="npSign != null">
        np_sign,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="npId != null">
        #{npId,jdbcType=INTEGER},
      </if>
      <if test="npName != null">
        #{npName,jdbcType=VARCHAR},
      </if>
      <if test="npSign != null">
        #{npSign,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.info.n25175_info.entity.N25175PostExample" resultType="java.lang.Long">
    select count(*) from n25175_post
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update n25175_post
    <set>
      <if test="record.npId != null">
        np_id = #{record.npId,jdbcType=INTEGER},
      </if>
      <if test="record.npName != null">
        np_name = #{record.npName,jdbcType=VARCHAR},
      </if>
      <if test="record.npSign != null">
        np_sign = #{record.npSign,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update n25175_post
    set np_id = #{record.npId,jdbcType=INTEGER},
      np_name = #{record.npName,jdbcType=VARCHAR},
      np_sign = #{record.npSign,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.info.n25175_info.entity.N25175Post">
    update n25175_post
    <set>
      <if test="npName != null">
        np_name = #{npName,jdbcType=VARCHAR},
      </if>
      <if test="npSign != null">
        np_sign = #{npSign,jdbcType=INTEGER},
      </if>
    </set>
    where np_id = #{npId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.info.n25175_info.entity.N25175Post">
    update n25175_post
    set np_name = #{npName,jdbcType=VARCHAR},
      np_sign = #{npSign,jdbcType=INTEGER}
    where np_id = #{npId,jdbcType=INTEGER}
  </update>
  <select id="groupCount" resultType="java.util.HashMap">
    select  p.np_name name, count(*) count from n25175_post p,n25175_user u
    where p.np_id = u.u_post AND p.np_sign=1
    GROUP BY u_post
  </select>
</mapper>